header.bg-greenTIC.p-100
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-center.text-creamTIC Estadías TIC 
            span.font-normal.text-grayTIC UTXJ
        nav(class="my-5 text-sm md:flex items-center md:gap-3 font-bold text-white")
            a(href="/internships" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC") ESTADIAS
            a(href="/internships/submit" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  POSTULACIONES
            a(href="/login" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  LOG OUT
            