header.bg-greenTIC.p-100
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-center.text-creamTIC Estadías TIC 
            span.font-normal.text-grayTIC UTXJ
        nav(class="my-5 text-sm md:flex items-center md:gap-3 font-bold text-white")
            a(href="" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC") ALUMNOS
            a(href="postulaciones" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  POSTULACIONES
            a(href="empresas" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  EMPRESAS
            a(href="estadias" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  ESTADÍAS
            a(href="/loginAdmon/loginA" class="bg-grayTIC py-2 px-10 rounded-lg hover:bg-petrolTIC")  LOG OUT