header.bg-greenAM.p-100
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-center.text-grayAM Estadías TIC
            span.font-normal.text-grayAM-900 UTXJ
        nav(class="my-5 text-sm md:flex items-center md:gap-3 font-bold text-white")
            a(href="" class="bg-woodAM py-2 px-10 rounded-lg hover:bg-grayAM") PROCESO
            a(href="" class="bg-woodAM py-2 px-10 rounded-lg hover:bg-grayAM") ESTADIAS
            a(href="" class="bg-woodAM py-2 px-10 rounded-lg hover:bg-grayAM")  POSTULACIONES
            