extends ../layout/indexAdmin
block styles
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content
    div.py-10  
        h2.text-center.text-3xl.font-extrabold.text-grayTIC= page

        if errors
            each error in errors
                div(class="mx-auto max-w-md text-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert")
                    strong(class="font-bold") Error:
                    span= error.msg
                    button(class="absolute top-0 bottom-0 right-0 px-4 py-3" aria-label="Close" onclick="this.parentElement.style.display='none'")
                        i(class="fas fa-times")

        script.
            setTimeout(function(){
                var alerts = document.querySelectorAll('[role="alert"]');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 5000);
        
        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-xl.rounded-lg
                form.space-y-5(action="/panel" method="POST" noValidate)
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="name") Nombre de la empresa:
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="Nombre comercial" name="nombre" type="text" )
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="giro") Giro de la empresa:
                        input#giro.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="Tecnología, Industria, Automotriz..." name="giro" type="text" )
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="tel") Teléfono:
                        input#tel.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="00 0000 0000" name="tel" type="tel" )
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="tel2") Teléfono adicional:
                        input#tel2.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="00 0000 0000" name="tel2" type="tel" )
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="sitioweb") Sitio web:
                        input#sitioweb.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="www.empresa.com" name="sitioweb" type="text" )
                    div
        
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.text-petrolTIC(class="placeholder:text-greenTIC" placeholder="user@domain.com" name="email" type="email")
                    .border-gray-400.border-t.py-5.space-y-5
                        - console.log(` aqui estoy...... `)
                        - console.log(data)
                        
                        h3.block.text-sm.uppercase.text-gray-600.mb-3.font-bold Ubicación
                        p.text-gray-600 Elige la ubicación de la empresa
                    #map.h-96
                    div
                        p.street
                    input#btn-save.w-full.bg-greenTIC.text-white(class="text-gray-800 font-bold py-3 cursor-pointer rounded-xl hover:bg-petrolTIC hover:text-white" type="submit" value="Continuar")
block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script( src="/js/map.js") 
         