extends ../layout/index 

block content
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-greenTIC UTXJ 
            span.font-normal.text-grayTIC ESTADIAS TIC
        h2.text-center.text-3xl.font-extrabold.text-petrolTIC= page 

        if errors
            each error in errors
                div(class="mx-auto max-w-md text-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4 text-xs" role="alert")
                    strong(class="font-bold") Error:
                    span= error.msg
                    button(class="absolute top-0 bottom-0 right-0 px-4 py-3" aria-label="Close" onclick="this.parentElement.style.display='none'")
                        i(class="fas fa-times")

        script.
            setTimeout(function(){
                var alerts = document.querySelectorAll('[role="alert"]');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 5000);


        .mt-8.mx-auto.max-w-xl 
            .bg-white.py-8.px-4.shadow-xl.rounded-lg 
                form.space-y-5(action="/login" method="post" noValidate) 
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email: 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-40(placeholder="n.trabajador@utxicotepec.edu.mx" name="email" type="email")
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Password: 
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-400(placeholder="*********" name="password" type="password")
                    div     
                        input#button-login.w-full.bg-greenTIC.text-white.font-bold.py-3.rounded-x1(class="hover:bg-petrolTIC cursor-pointer rounded-xl" type="submit" value="Login")

                    div.flex.items.center.justify-evenly.pt-5
                        a.text-sm.text-gray-400(href="/login/select" class="hover:text-greenTIC") Registrarme
                        a.text-sm.text-gray-400(href="/loginAdmon/recoveryA" class="hover:text-greenTIC") Reestablecer contraseña